/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   html {
     background-color: #5a5a5a;
   }
   
   .header {
     text-transform: uppercase;
   }

   .frame {
     background-color: rgb(198, 198, 198);
     max-width: 950px;
     margin: 1em auto;
     text-align: center;
   }

   .page {
     background-color: rgb(238, 238, 238);
     display: inline-block;
     font-family: Verdana, Arial, Helvetica, sans-serif;
     margin: 7px auto 1em auto;
     min-width: 650px;
     text-align: left;
   }

   .page .content {
     background-color: black;
     min-height: 450px;
   }

   .archive .item .content {
     max-width: 600px;
   }

   .page .header {
     text-align: center;
     font-family: "Courier New", Courier, monospace;
     color: black;
   }

   .page .footer {
     margin: 0 auto;
     max-width: 600px;
     padding-bottom: 7px;
   }

   .footer .next {
     font-size: 24px;
   }

   .footer .next::before {
     content: "> ";
   }

   .footer .links {
     font-size: 10px;
     font-weight: bold;
   }

   .instructions {
     border: 1px dashed grey;
     display: block;
     margin-top: 1em;
     margin-left: auto;
     margin-right: auto;
     max-width: 600px;
   }

   .instructions > .button {
     font-size: 13.333px;
     text-align: center;
     width: 100%;
   }

   .instructions > .spoilers {
     font-family: "Courier New", Courier, monospace;
     font-weight: bold;
     font-size: 14px;
     margin-left: auto;
     margin-right: auto;
     width: 90%;
   }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
