@keyframes Blink {
	0% {filter:opacity(100%);}
	50% {filter:opacity(75%);}
  100% {filter:opacity(100%);}
}

@keyframes Strife {
	0% {filter:brightness(100%);}
	100% {filter:brightness(300%);}
}

@keyframes Exclaim {
	0% {filter:brightness(1);}
	100% {filter:brightness(100);}
}

#AggressButton {
  z-index:2;
  position:absolute;
  width: 272px;
  height: 44px;
  top:43px;
  left:342px;
	cursor:pointer;
  animation: Blink 0.5s infinite;
	animation-timing-function: ease;
}

#AggressButtonBlink {
  z-index:1;
  position:absolute;
  width: 272px;
  height: 44px;
  top:43px;
  left:342px;
  background-color:#38f43d;
}

#AbjureButton {
  z-index:2;
  position:absolute;
  width: 272px;
  height: 44px;
  top:91px;
  left:342px;
	cursor:pointer;
  animation: Blink 0.33s infinite;
	animation-timing-function: ease;
}

#AbjureButtonBlink {
  z-index:1;
  position:absolute;
  width: 272px;
  height: 44px;
  top:91px;
  left:342px;
  background-color:#38d5f4;
}

#StrifeBanner {
  animation: Strife 0.12s infinite;
}

#AutoPastry {
	position:absolute;
	top:25px;
	left:14px;
}

#Exclaim {
	position:absolute;
	top:19px;
	left:623px;
}

#Coddlebrand {
	position:absolute;
	top:0;
	left:0;
}

#Dotesmite {
	position:absolute;
	top:10px;
	left:84px;
}
